{
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "doctype": "<!DOCTYPE html>"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    }
  ]
}
